
body{
	font-family: 'sans-serif';
	font-size: 16px;
	max-width: 60em;
	margin:auto;
	padding:2em;
}

h1 {
	text-align: center;
	font-size: 38px;
	padding-bottom: 1em;
} 

h2 {
	text-align: center;
	font-size: 34px;
}

.section {
	padding-bottom: 2em;
}

.workflow {
	padding-bottom: 2em;
}

.author-img {
	width: 162px;
	height: 190px;	
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.author{
	display:block;
	width:33.3%;
	float:left;
	text-align: center;
	font-size:20px;
	padding-bottom: 3em;
}

.resource {
	display:block;
	width:50%;
	float:left;
	text-align: center;
	font-size:20px;
	padding-bottom: 3em;
}

.resource-img {
	width: auto;
	height: 120px;	
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.affiliation {
	display:block;
	width:25%;
	float:left;
	text-align: center;
	font-size:20px;
	padding-bottom: 1em;
}

.affiliation-img {
	width: 180px;
	height: 80px;	
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

